@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YourCustomFont";
  src: url("/./public/Anton/Anton-Regular.ttf") format("Anton");
  font-weight: normal;
  font-style: normal;
}
